<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../js/libs/twitter-bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" href="../js/libs/jqueryui/css/base/jquery.ui.all.css"/>
    </head>
    <body>
        <div class="navbar navbar-default navbar-static-top"  >
            <div class="container" id="mainId">
                <a href="#" class="navbar-brand">TTD Information</a>
                <div id="headerId" class="collapse navbar-collapse navHeaderCollapse">
                    <header class="masthead">
                        <ul class="nav navbar-right nav-pills">
                            <li><a href="home.html">Home</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="search.html">Search</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="registration.html">Registration</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="login.html">Admin</a></li>
                        </ul>
                    </header>
                </div>
            </div>
        </div>

        <div class="container" >
            <div class="row">
                <div class="col-md-offset-4">
      
                        <div class="loginFields row col-md-offset-3" ><br/><br/><br/>
                            <h3>Log In</h3><br/>
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="col-md-5" for="emailInput"><span style="white-space:nowrap">E-Mail</span></label>
                                    <input type="text" class="form-control col-ig-5" id="firstInput" placeholder="E-Mail" />
                                </div>
                            </div><br/>
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="col-md-5" for="passwordInput"><span style="white-space:nowrap">Password</span></label>
                                    <input type="password" class="form-control col-lg-5" id="passwordInput" placeholder="Password"/>
                                </div>
                            </div><br/>
                            <div class="col-md-4">
                                <label class="col-md-4" for="myAccInput"></label><br/>
                                
                                 <button class="btn" id="login" >Login</button>
                            </div>
                        </div>
  
                </div>
            </div>
        </div>
        
        <script src="../js/libs/jquery/jquery.js"></script>
        <script src="../js/libs/jqueryui/jquery-ui.js"></script>
        <script src="../js/libs/twitter-bootstrap/js/bootstrap.js"></script>
        <script src="../js/myJs/login.js"></script>
        
    </body>
</html>
